@font-face {
  font-family: 'Gilroy';
  src: url("../fonts/Gilroy-Regular.woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy';
  src: url("../fonts/Gilroy-Bold.woff");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy';
  src: url("../fonts/Gilroy-Extrabold.woff");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy';
  src: url("../fonts/Gilroy-Light.woff");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Georgia';
  src: url("../fonts/Georgia.woff");
  font-weight: normal;
  font-style: normal;
}

.header__inner {
  max-width: 1010px;
  margin: 10px auto;
}

.header__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 13.5px;
}

.header__logo {
  margin-top: 11px;
  margin-right: 40px;
}

.header__places {
  margin-top: 11px;
  margin-right: 40px;
}

.header__place span {
  font-family: Gilroy;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  color: #656565;
  margin-left: 11px;
}

.header__place + .header__place {
  margin-top: 10px;
}

.header__sn {
  margin-top: 19px;
  margin-right: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__sn svg + svg {
  margin-left: 26px;
}

.header__call {
  -ms-flex-item-align: start;
      align-self: flex-start;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 19px;
  margin-right: 117px;
}

.header__call a {
  -ms-flex-item-align: center;
      align-self: center;
  font-family: Gilroy;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  color: #000000;
  margin-left: 16px;
}

.header__bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header .search {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.header .search__input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #EFEFEF;
}

.header .search__icon {
  cursor: pointer;
  margin: auto 16px;
}

.header .search form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header .search form input {
  background: #EFEFEF;
  height: 100%;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 16px;
  color: #000000;
}

.header .search form input::-webkit-input-placeholder {
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 16px;
  color: #000000;
}

.header .search form input::-moz-placeholder {
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 16px;
  color: #000000;
}

.header .search form input:-moz-placeholder {
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 16px;
  color: #000000;
}

.header .search form input:-ms-input-placeholder {
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 16px;
  color: #000000;
}

.header .search form button {
  font-family: Gilroy;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  color: #FFFFFF;
  padding: 16px;
  background: #3432EE;
}

.menu {
  margin-left: auto;
}

.menu__icon {
  width: 48px;
  height: 48px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  position: relative;
}

.menu__icon span {
  width: 33px;
  height: 3px;
  background: #000000;
}

.menu__icon span:before,
.menu__icon span:after {
  content: '';
  width: 33px;
  height: 3px;
  background: #000000;
  position: absolute;
}

.menu__icon span:before {
  top: 9px;
}

.menu__icon span:after {
  bottom: 9px;
}

.menu__text {
  font-family: Gilroy;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
  text-align: center;
}

.menu__content {
  position: absolute;
  left: -300%;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
  -webkit-transition: .7s;
  -o-transition: .7s;
  transition: .7s;
  z-index: 3;
}

.menu__navbar {
  margin-top: 80px;
  margin-left: 45px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.navbar__link {
  cursor: pointer;
  font-family: Gilroy;
  font-weight: bold;
  font-size: 18px;
  line-height: 20px;
  color: #000000;
}

.navbar__link + .navbar__link {
  margin-left: 24px;
}

.footer {
  background: #05164D;
}

.footer .container {
  max-width: 100%;
}

.footer__inner {
  max-width: 1200px;
  margin: 0 auto;
  padding: 26px 20px 26px 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer__logo {
  margin-bottom: 27px;
}

.footer__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 44px;
  margin-left: 45px;
}

.footer__info div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 27px;
  color: #C4C4C4;
}

.footer__info div span {
  font-weight: 600;
  color: #FFFFFF;
}

.footer__info div p + p {
  margin-top: 20px;
}

.footer__info div span + span {
  margin-top: 20px;
}

.footer__info div + div {
  margin-left: 26px;
}

.footer__sn {
  margin-bottom: 40px;
}

.footer__sn a {
  cursor: pointer;
}

.footer__sn a + a {
  margin-left: 14px;
}

.footer .footer-sn {
  margin-left: 45px;
}

.footer .footer-sn__mobile {
  display: none;
}

.footer .footer-sn__mobile span {
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: #FFFFFF;
  margin-bottom: 12px;
}

.footer__rights {
  margin-left: 45px;
  font-family: Montserrat;
  font-weight: normal;
  font-size: 22px;
  line-height: 25px;
  color: #FFFFFF;
}

.footer__menu {
  margin-top: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer__list div {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 22px;
  line-height: 25px;
  color: #FFFFFF;
  margin-bottom: 35px;
}

.footer__list a {
  cursor: pointer;
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  color: #C4C4C4;
}

.footer__list a + a {
  margin-top: 24px;
}

.footer__list + .footer__list {
  margin-left: 80px;
}

.footer__contact {
  margin-left: 31px;
}

.footer__contact > div {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 22px;
  line-height: 25px;
  color: #FFFFFF;
  margin-bottom: 35px;
  margin-left: 20px;
}

.footer__contact form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  background: #FFFFFF;
  border-radius: 141px;
}

.footer__contact form input {
  max-width: 167px;
  border-radius: 141px;
  padding: 21px 0 18px 24.75px;
  font-family: Montserrat;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  color: #C4C4C4;
  max-width: 191px;
}

.footer__contact form input::-webkit-input-placeholder {
  font-family: Montserrat;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  color: #C4C4C4;
}

.footer__contact form input::-moz-placeholder {
  font-family: Montserrat;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  color: #C4C4C4;
}

.footer__contact form input:-moz-placeholder {
  font-family: Montserrat;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  color: #C4C4C4;
}

.footer__contact form input:-ms-input-placeholder {
  font-family: Montserrat;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  color: #C4C4C4;
}

.footer__contact form button {
  background: #CBD0FF;
  border-radius: 0px 33.5px 33.5px 0px;
  padding-right: 19px;
  padding-left: 11.5px;
}

.footer__navigation {
  display: none;
  width: 100%;
  padding-bottom: 31px;
  border-bottom: 0.75px solid #8A8C8F;
  margin-left: 16px;
  margin-bottom: 24px;
}

.footer__navigation a {
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: #FFFFFF;
}

.footer__navigation a + a {
  margin-left: 23px;
}

.wrapper {
  width: 100%;
  min-height: 100%;
  overflow: hidden;
}

.container {
  max-width: 1124px;
  margin: 0 auto;
  padding: 0 10px;
}

* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-family: "Gilroy", sans-serif;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

html.blackout,
body.blackout {
  overflow: hidden;
}

html.blackout a,
body.blackout a {
  pointer-events: none;
}

html.blackout .header-menu a,
body.blackout .header-menu a {
  pointer-events: auto;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
}

body._lock {
  overflow: hidden;
  pointer-events: none;
}

@font-face {
  font-family: 'Gilroy';
  src: url("../fonts/Gilroy-Regular.woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy';
  src: url("../fonts/Gilroy-Bold.woff");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy';
  src: url("../fonts/Gilroy-Extrabold.woff");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy';
  src: url("../fonts/Gilroy-Light.woff");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Georgia';
  src: url("../fonts/Georgia.woff");
  font-weight: normal;
  font-style: normal;
}

body.lock {
  height: 100vh;
  overflow-y: hidden;
}

.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  cursor: pointer;
}

.logo_header {
  font-family: Gilroy;
  font-weight: 400;
  font-size: 28px;
  line-height: 34px;
}

.logo_header .logo__title span {
  font-weight: bold;
  color: #3432EE;
}

.logo_footer {
  font-family: Montserrat;
  font-weight: 400;
  font-size: 35px;
  line-height: 45px;
}

.logo_footer .logo__title {
  color: #FFFFFF;
}

.logo_footer .logo__title span {
  font-weight: 600;
  color: #62D1B2;
}

.logo__image {
  margin-right: 4px;
}

.discount {
  padding: 26px 0 33px;
  background: #3432EE;
  text-align: center;
  font-family: Gilroy;
  font-weight: bold;
  font-size: 28px;
  line-height: 34px;
  color: #FFFFFF;
}

section {
  padding: 0 46px 0 69px;
}

section .container {
  padding: 0;
}

.article {
  padding-top: 24px;
}

.article__inner {
  display: grid;
  grid-template-areas: "article-main article-sidebar";
}

.article__main {
  grid-area: article-main;
  margin-right: 80px;
}

.article__main p {
  font-family: Georgia;
  font-size: 20px;
  line-height: 23px;
  color: #000000;
}

.article__main p + p {
  margin-top: 20px;
}

.article__title {
  font-weight: bold;
  font-size: 36px;
  line-height: 40px;
  color: #11111A;
  margin-bottom: 26px;
}

.article__title span {
  color: #3432EE;
}

.article__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.article__subtitle {
  margin-left: 9px;
  font-weight: bold;
  font-size: 18px;
  line-height: 22px;
  color: #3432EE;
}

.article__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 32px;
}

.article__time {
  margin-left: 20px;
  font-weight: 300;
  font-size: 18px;
  line-height: 22px;
  color: #8A8C8F;
}

.article__icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.article__icons a {
  cursor: pointer;
}

.article__icons a + a {
  margin-left: 15px;
}

.article__icons_top {
  margin-left: auto;
}

.article__image {
  margin-bottom: 30px;
}

.article__image_mobile {
  margin-bottom: 24px;
  display: none;
}

.article__tags {
  margin-top: 32px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.article__tags div {
  padding: 8px 12px;
  font-size: 20px;
  line-height: 24px;
  color: #000000;
  background: #E0E0E0;
}

.article__tags div + div {
  margin-left: 15px;
}

.article__bottom {
  padding: 26px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-bottom: 0.5px solid #707070;
  margin-bottom: 32px;
}

.article__bottom a {
  cursor: pointer;
}

.article__clapping {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.article__clapping img {
  width: 24px;
  height: 24px;
}

.article__clapping span {
  font-size: 18px;
  line-height: 26px;
  color: #5F5F5F;
  margin-left: 16px;
}

.article__comments {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 30px;
}

.article__comments img {
  width: 24px;
  height: 24px;
}

.article__comments span {
  font-size: 18px;
  line-height: 26px;
  color: #5F5F5F;
  margin-left: 16px;
}

.article__sn a {
  cursor: pointer;
}

.article__sn_top {
  display: none;
}

.article__sn_bottom {
  margin-left: auto;
  margin-right: 64px;
}

.article__sn_bottom a + a {
  margin-left: 15px;
}

.article-sidebar {
  grid-area: article-sidebar;
  max-width: 369px;
}

.article-sidebar > div:not(:first-child) {
  margin-left: 63px;
}

.article-sidebar__main {
  padding-left: 63px;
  border-left: 1px solid #3432EE;
  padding-bottom: 26px;
}

.article-sidebar__image {
  margin-bottom: 16px;
  max-width: 287px;
  max-height: 270px;
}

.article-sidebar__title {
  font-weight: bold;
  font-size: 26px;
  line-height: 30px;
  color: #3432EE;
  margin-bottom: 20px;
}

.article-sidebar__text p {
  font-size: 20px;
  line-height: 24px;
  color: #000000;
}

.article-sidebar__text p + p {
  margin-top: 26px;
}

.article-sidebar__sn a {
  cursor: pointer;
}

.article-sidebar__sn a + a {
  margin-left: 15px;
}

.article-sidebar__preface {
  margin-top: 64px;
}

.article-preface {
  margin-top: 48px;
  padding: 32px;
  background: #EFEFEF;
}

.article-preface__title {
  font-weight: bold;
  font-size: 24px;
  line-height: 30px;
  color: #000000;
  margin-bottom: 20px;
}

.article-preface__item {
  padding: 8px;
  font-size: 18px;
  line-height: 21px;
  color: #707070;
}

.article-preface__item:first-child {
  margin-bottom: 0px;
}

.article-preface__item + .article-preface__item {
  margin-top: 26px;
  position: relative;
}

.article-preface__item + .article-preface__item:after {
  content: '';
  width: 100%;
  height: 0.5px;
  position: absolute;
  top: -13px;
  left: 0;
  background-color: #707070;
}

.questions__inner {
  margin: 26px auto 26px;
  padding: 34px 80px 58px 45px;
  background-image: url("../images/3/Rectangle1682.png");
  background-repeat: no-repeat;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.questions__title {
  font-weight: 800;
  font-size: 26px;
  line-height: 33px;
  color: #FFFFFF;
  margin-bottom: 20px;
}

.questions__text {
  font-weight: bold;
  font-size: 20px;
  line-height: 25px;
  color: #FFFFFF;
  margin-bottom: 15px;
}

.questions__write {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  cursor: pointer;
}

.questions__write div {
  padding: 12px;
  background: #FFFFFF;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  color: #3432EE;
}

.questions__write a {
  background: #3432EE;
  width: 40px;
  height: 42px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.questions__write svg {
  width: 10px;
  height: 23px;
}

.faq {
  margin-bottom: 26px;
}

.faq__inner {
  border-top: 5px solid #3432EE;
  max-width: 890px;
  padding: 35px;
  background: #EFEFEF;
}

.faq__title {
  font-weight: bold;
  font-size: 26px;
  line-height: 35px;
  color: #11111A;
}

.faq__subtitle {
  font-weight: 300;
  font-size: 20px;
  line-height: 22px;
  color: #707070;
  margin-bottom: 30px;
}

.faq-item {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  position: relative;
}

.faq-item.active:after {
  content: '';
  width: 98%;
  height: 1px;
  position: absolute;
  background-color: #C0C0C0;
  bottom: 0;
}

.faq-item.active .faq-item__text {
  display: block;
  padding-bottom: 24px;
}

.faq-item.active .faq-item__title span {
  margin-left: auto;
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
}

.faq-item:last-child:after {
  content: '';
  width: 0;
  height: 0;
}

.faq-item + .faq-item {
  margin-top: 26px;
}

.faq-item__title {
  cursor: pointer;
  font-weight: 800;
  font-size: 20px;
  line-height: 25px;
  color: #707070;
  margin-bottom: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.faq-item__title span {
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
  -webkit-transform: rotate(0);
      -ms-transform: rotate(0);
          transform: rotate(0);
  margin-bottom: auto;
}

.faq-item__text {
  display: none;
  font-size: 20px;
  line-height: 25px;
  color: #707070;
  max-width: 555px;
}

.faq-item svg {
  width: 20px;
  height: 20px;
}

.more {
  margin-bottom: 115px;
}

.more__inner {
  max-width: 887px;
}

.more__title {
  font-weight: normal;
  font-size: 26px;
  line-height: 30px;
  color: #707070;
  margin-bottom: 48px;
  position: relative;
}

.more__title:after {
  content: '';
  width: 95%;
  height: 0.5px;
  background-color: #707070;
  position: absolute;
  bottom: -24px;
  left: 0;
}

.more__main {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.more__link {
  display: none;
}

.more-item {
  padding: 8px;
}

.more-item__image {
  margin-bottom: 16px;
}

.more-item__image_mobile {
  margin-bottom: 16px;
  display: none;
}

.more-item__title {
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  color: #000000;
  margin-bottom: 14px;
}

.more-item__bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.more-item__bottom a {
  cursor: pointer;
}

.more-item__avatar {
  width: 30px;
  height: 30px;
  margin-right: 10px;
}

.more-item__name {
  font-weight: bold;
  font-size: 12px;
  line-height: 14px;
  color: #256ECE;
}

.more-item__time {
  font-size: 10px;
  line-height: 12px;
  color: #8A8C8F;
}

.more-item__clapping {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: auto;
  margin-right: 8px;
  font-size: 12px;
  line-height: 14px;
}

.more-item__clapping img {
  width: 24px;
  height: 24px;
  margin-right: 8px;
}

.popup {
  position: fixed;
  width: 100%;
  height: 100%;
  background: rgba(34, 34, 34, 0.9);
  top: 0;
  left: 0;
  overflow: 0;
  visibility: hidden;
  overflow-y: auto;
  overflow-x: hidden;
}

.popup.active {
  overflow: 1;
  visibility: visible;
}

.popup__area {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  cursor: pointer;
}

.popup__body {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 20px;
}

.popup__content {
  padding: 67px 77px 57px 77px;
  background-color: #FFFFFF;
  background-size: 400px 600px;
  background-image: url("../images/3/doctor1.png");
  background-repeat: no-repeat;
  background-position: 100% 100%;
  width: 1030px;
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25)) drop-shadow(0px 12px 30px rgba(255, 191, 225, 0.5));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25)) drop-shadow(0px 12px 30px rgba(255, 191, 225, 0.5));
}

.popup__content form {
  padding-left: 8px;
  margin-bottom: 30px;
}

.popup__content form button {
  margin-top: 32px;
  background: #3432EE;
  font-weight: 800;
  font-size: 18px;
  line-height: 23px;
  color: #FFFFFF;
  padding: 18px;
}

.popup__title {
  font-weight: 800;
  font-size: 40px;
  line-height: 50px;
  color: #000000;
  margin-bottom: 25px;
}

.popup__text {
  max-width: 618px;
  font-size: 20px;
  line-height: 26px;
  color: #11111A;
  margin-bottom: 30px;
}

.popup__input {
  max-width: 492px;
  position: relative;
}

.popup__input:after {
  content: '*';
  position: absolute;
  font-size: 32px;
  line-height: 37px;
  color: #707070;
  top: 16px;
  right: 32px;
}

.popup__input input {
  background: #F3F3F3;
  padding: 14px 14px 20px 14px;
  font-size: 18px;
  line-height: 22px;
  color: #707070;
  width: 100%;
}

.popup__input + .popup__input {
  margin-top: 32px;
}

.popup__accept {
  font-size: 16px;
  line-height: 18px;
  color: #707070;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.popup__accept svg {
  width: 24px;
  height: 24px;
}

.popup__accept div {
  margin-left: 6px;
  max-width: 454px;
}

@media (min-width: 769px) {
  body.lock {
    padding-right: 15px;
  }
}

@media (max-width: 1200px) {
  .logo_footer {
    font-family: Gilroy;
    font-size: 26px;
    line-height: 30px;
  }

  .logo_footer .logo__image {
    width: 33.24px;
    height: 32px;
    margin-right: 0;
  }

  .logo_footer .logo__image svg {
    width: 100%;
    height: 100%;
  }

  .logo_footer .logo__title span {
    font-weight: 400;
    color: #3432EE;
  }
}

@media (max-width: 1100px) {
  .header__inner {
    margin: 10px 30px;
  }

  .header__logo {
    margin-right: 25px;
  }

  .header__places {
    margin-right: 30px;
  }

  .header__sn {
    margin-right: 60px;
  }

  .header__sn svg + svg {
    margin-left: 20px;
  }

  .header__call {
    margin-right: 100px;
  }

  .footer {
    background: #11111A;
  }

  .footer__main {
    width: 100%;
  }

  .footer__info {
    display: none;
  }

  .footer .footer-sn {
    margin-left: 16px;
  }

  .footer .footer-sn__main {
    display: none;
  }

  .footer .footer-sn__mobile {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .footer__rights {
    display: none;
  }

  .footer__menu {
    display: none;
  }

  .footer__list {
    display: none;
  }

  .footer__contact {
    display: none;
  }

  .footer__navigation {
    display: block;
  }

  .article__main {
    margin-right: 0;
  }

  .article__tags {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .article__tags div + div {
    margin-top: 20px;
    margin-left: 0;
  }

  .article-sidebar {
    display: none;
  }

  .faq__inner {
    max-width: 100%;
  }

  .more__inner {
    max-width: 100%;
  }
}

@media (max-width: 1024px) {
  .header__top {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }

  .header__places {
    display: none;
  }

  .header__sn {
    margin-right: 30px;
  }

  .header__call {
    margin-right: 30px;
  }

  .header__bottom {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .header__navbar {
    margin-top: 20px;
    margin-bottom: 15px;
  }

  .menu {
    margin-left: 0;
  }

  .footer__inner {
    padding: 25px 17px 15px;
  }

  .logo_header {
    font-size: 28px;
    line-height: 34px;
  }

  .logo__image {
    width: 32px;
    height: 32px;
  }

  .logo__image svg {
    width: 100%;
    height: 100%;
  }

  .discount {
    font-size: 24px;
    line-height: 32px;
  }

  .faq-item__title {
    font-size: 20px;
    line-height: 24px;
  }

  .faq-item__text {
    font-size: 20px;
    line-height: 24px;
  }

  .more__title:after {
    width: 100%;
  }

  .more__main {
    grid-template-columns: repeat(2, 1fr);
  }

  .popup__content {
    background-image: none;
  }
}

@media (max-width: 768px) {
  .header__inner {
    margin: 10px auto;
  }

  .header__logo {
    margin-top: 0;
    position: relative;
    z-index: 4;
  }

  .header__place {
    display: none;
  }

  .header__sn {
    display: none;
  }

  .header__call {
    display: none;
  }

  .header__bottom {
    display: none;
  }

  .menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .menu__icon {
    width: 36px;
    height: 36px;
    z-index: 4;
  }

  .menu__icon span {
    width: 22px;
    height: 2px;
  }

  .menu__icon span:before,
  .menu__icon span:after {
    width: 22px;
    height: 2px;
  }

  .menu__text {
    display: none;
  }

  .menu.active .menu__content {
    -webkit-transition: .7s;
    -o-transition: .7s;
    transition: .7s;
    left: 0;
  }

  .menu.active .menu__icon span {
    background: #fff;
  }

  .menu.active .menu__icon span:before {
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
    top: 17px;
  }

  .menu.active .menu__icon span:after {
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
    bottom: 17px;
  }

  .navbar__link + .navbar__link {
    margin-left: 0;
    margin-top: 12px;
  }

  body.lock_burger {
    height: 100vh;
    overflow-y: hidden;
  }

  .main {
    background: -o-linear-gradient(174.97deg, #FFFAFA 11.06%, #E6EDFF 155.37%);
    background: linear-gradient(275.03deg, #FFFAFA 11.06%, #E6EDFF 155.37%);
  }

  .discount {
    display: none;
  }

  section {
    padding: 0 25px;
  }

  .article {
    padding-top: 56px;
  }

  .article__main p {
    font-size: 18px;
    line-height: 150%;
  }

  .article__title {
    font-size: 24px;
    line-height: 29px;
    margin-bottom: 25.5px;
  }

  .article__info {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-left: 16px;
  }

  .article__subtitle {
    font-size: 14px;
    line-height: 17px;
    margin-left: 0;
  }

  .article__top {
    margin-bottom: 24px;
  }

  .article__avatar {
    width: 32px;
    height: 32px;
  }

  .article__time {
    font-size: 12px;
    line-height: 14px;
    margin-left: 0;
  }

  .article__icons_top {
    display: none;
  }

  .article__icons_bottom {
    margin-left: auto;
  }

  .article__icons_bottom a:first-child svg {
    width: 24px;
    height: 24px;
  }

  .article__icons_bottom a:last-child svg {
    height: 6.4px;
    width: 24px;
  }

  .article__icons_bottom a:last-child svg path {
    fill: #707070;
  }

  .article__icons_bottom a + a {
    margin-left: 12px;
  }

  .article__icons_bottom a:last-child {
    -webkit-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
            transform: rotate(90deg);
  }

  .article__image_mobile {
    display: block;
  }

  .article__image {
    display: none;
  }

  .article__tags {
    display: none;
  }

  .article__bottom {
    padding: 16px 0;
    margin-bottom: 16px;
  }

  .article__clapping span {
    font-size: 16px;
    line-height: 21px;
    margin-left: 8px;
    margin-top: 5px;
    margin-bottom: auto;
  }

  .article__comments {
    margin-left: 24px;
  }

  .article__comments span {
    font-size: 16px;
    line-height: 21px;
    margin-left: 8px;
    margin-top: 5px;
    margin-bottom: auto;
  }

  .article__sn_top {
    display: block;
    margin-right: 22px;
    margin-left: auto;
  }

  .article__sn_top a + a {
    margin-left: 8px;
  }

  .article__sn_top a svg {
    width: 24px;
    height: 24px;
  }

  .article__sn_bottom {
    display: none;
  }

  .questions__inner {
    padding: 28px;
    margin: 32px -40px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .questions__inner {
    background-position: 80% 50%;
  }

  .questions__write div {
    font-size: 14px;
    line-height: 17px;
    padding: 10px;
  }

  .questions__write a {
    width: 40px;
    height: 36px;
  }

  .questions__write svg {
    width: 8px;
    height: 16px;
  }

  .faq {
    margin-bottom: 16px;
  }

  .faq__inner {
    border-top: 2.2px solid #3432EE;
  }

  .faq__title {
    font-size: 20px;
    line-height: 24px;
    margin-bottom: 8px;
  }

  .faq__subtitle {
    font-size: 16px;
    line-height: 18px;
  }

  .faq-item__title {
    font-size: 18px;
    line-height: 22px;
  }

  .faq-item__title h4 {
    margin-right: 20px;
  }

  .faq-item__title span svg {
    width: 16px;
    height: 16px;
  }

  .faq-item__text {
    font-size: 16px;
    line-height: 19px;
    padding-right: 51px;
  }

  .more {
    margin-bottom: 32px;
  }

  .more .container {
    padding: 0;
  }

  .more__inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .more__title {
    font-size: 18px;
    line-height: 21px;
    color: #707070;
    margin-bottom: 56px;
  }

  .more__title:after {
    width: 98%;
    left: 1%;
  }

  .more__main {
    grid-template-columns: repeat(1, 1fr);
  }

  .more__link {
    cursor: pointer;
    display: block;
    margin: 16px auto;
  }

  .more__link a {
    border: 1px solid #3432EE;
    border-radius: 91px;
    padding: 4px 8px;
    margin: 0 auto;
    font-size: 14px;
    line-height: 16px;
    margin-top: 16px;
    color: #3432EE;
  }

  .more-item__image {
    display: none;
  }

  .more-item__image_mobile {
    display: block;
  }

  .more-item__title {
    font-size: 20px;
    line-height: 24px;
  }

  .more-item__clapping {
    margin-left: 16px;
    margin-right: auto;
  }

  .popup__content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 33px 38px 28px 38px;
  }

  .popup__content form {
    padding-left: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 18px;
  }

  .popup__content form button {
    margin-top: 20px;
    font-size: 16px;
    line-height: 22px;
    padding: 12px;
  }

  .popup__title {
    font-size: 20px;
    line-height: 25px;
    margin-bottom: 24px;
  }

  .popup__text {
    text-align: center;
    font-size: 14px;
    line-height: 17px;
    margin-bottom: 12px;
  }

  .popup__input:after {
    font-size: 26px;
    line-height: 30px;
    top: 12px;
  }

  .popup__input input {
    font-size: 18px;
    line-height: 20px;
    padding: 12px;
  }

  .popup__input + .popup__input {
    margin-top: 16px;
  }

  .popup__accept {
    font-size: 14px;
    line-height: 17px;
  }
}

@media (max-width: 768px) and (max-width: 400px) {
  .article__sn_top a + a {
    margin-left: 2px;
  }

  .article__sn_top a svg {
    width: 18px;
    height: 18px;
  }
}

@media (max-width: 560px) {
  .questions__title {
    font-size: 20px;
    line-height: 25px;
    margin-bottom: 18px;
  }

  .questions__text {
    font-size: 14px;
    line-height: 17px;
    margin-bottom: 6px;
  }

  .more-item__title {
    max-width: 224px;
  }
}

@media (max-width: 500px) {
  .popup__content {
    padding: 33px 19px 28px 19px;
  }

  .popup__accept div {
    max-width: 300px;
  }
}

@media (max-width: 420px) {
  .faq__inner {
    padding: 30px;
  }

  .faq-item__title span {
    display: none;
  }
}

@media (max-width: 400px) {
  .footer__navigation a + a {
    margin-left: 12px;
  }

  .article__sn_top {
    margin-right: 0;
  }

  .more-item__clapping {
    margin-left: 0px;
  }
}