.footer {
  background: #05164D;
}

.footer__inner {
  padding: 26px 60px 26px 13px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer__logo {
  margin-bottom: 27px;
}

.footer__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 44px;
  margin-left: 60px;
}

.footer__info div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
  color: #C4C4C4;
}

.footer__info div span {
  font-weight: 600;
  color: #FFFFFF;
}

.footer__info div p + p {
  margin-top: 24px;
}

.footer__info div span + span {
  margin-top: 24px;
}

.footer__info div + div {
  margin-left: 30px;
}

.footer__sn {
  margin-bottom: 40px;
}

.footer__sn a {
  cursor: pointer;
}

.footer__sn a + a {
  margin-left: 14px;
}

.footer .footer-sn {
  margin-left: 60px;
}

.footer .footer-sn__mobile {
  display: none;
}

.footer .footer-sn__mobile span {
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: #FFFFFF;
  margin-bottom: 12px;
}

.footer__rights {
  margin-left: 60px;
  font-family: Montserrat;
  font-weight: normal;
  font-size: 24px;
  line-height: 29px;
  color: #FFFFFF;
}

.footer__menu {
  margin-top: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer__list div {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;
  color: #FFFFFF;
  margin-bottom: 45px;
}

.footer__list a {
  cursor: pointer;
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  color: #C4C4C4;
}

.footer__list a + a {
  margin-top: 28px;
}

.footer__list + .footer__list {
  margin-left: 117.75px;
}

.footer__contact {
  margin-left: 51px;
}

.footer__contact > div {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;
  color: #FFFFFF;
  margin-bottom: 35px;
  margin-left: 20px;
}

.footer__contact form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  background: #FFFFFF;
  border-radius: 141px;
}

.footer__contact form input {
  max-width: 167px;
  border-radius: 141px;
  padding: 21px 0 18px 24.75px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  color: #C4C4C4;
  max-width: 191px;
}

.footer__contact form input::-webkit-input-placeholder {
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  color: #C4C4C4;
}

.footer__contact form input::-moz-placeholder {
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  color: #C4C4C4;
}

.footer__contact form input:-moz-placeholder {
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  color: #C4C4C4;
}

.footer__contact form input:-ms-input-placeholder {
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  color: #C4C4C4;
}

.footer__contact form button {
  background: #CBD0FF;
  border-radius: 0px 33.5px 33.5px 0px;
  padding-right: 19px;
  padding-left: 11.5px;
}

.footer__navigation {
  display: none;
  width: 100%;
  padding-bottom: 31px;
  border-bottom: 0.75px solid #8A8C8F;
  margin-left: 16px;
  margin-bottom: 24px;
}

.footer__navigation a {
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: #FFFFFF;
}

.footer__navigation a + a {
  margin-left: 23px;
}

@media (max-width: 1200px) {
  .footer {
    background: #11111A;
  }

  .footer__inner {
    padding: 25px 17px 15px;
  }

  .footer__main {
    width: 100%;
  }

  .footer__info {
    display: none;
  }

  .footer .footer-sn {
    margin-left: 16px;
  }

  .footer .footer-sn__main {
    display: none;
  }

  .footer .footer-sn__mobile {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .footer__rights {
    display: none;
  }

  .footer__menu {
    display: none;
  }

  .footer__list {
    display: none;
  }

  .footer__contact {
    display: none;
  }

  .footer__navigation {
    display: block;
  }
}

@media (max-width: 400px) {
  .footer__navigation a + a {
    margin-left: 12px;
  }
}