@font-face {
  font-family: 'Gilroy';
  src: url("../fonts/Gilroy-Regular.woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy';
  src: url("../fonts/Gilroy-Bold.woff");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy';
  src: url("../fonts/Gilroy-Extrabold.woff");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy';
  src: url("../fonts/Gilroy-Light.woff");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Georgia';
  src: url("../fonts/Georgia.woff");
  font-weight: normal;
  font-style: normal;
}

.header__inner {
  max-width: 1172px;
  margin: 10px auto;
}

.header__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 13.5px;
}

.header__logo {
  margin-top: 10px;
  margin-right: 42.5px;
}

.header__places {
  margin-top: 10px;
  margin-right: 40.5px;
}

.header__place span {
  font-family: Gilroy;
  font-weight: bold;
  font-size: 20px;
  line-height: 24px;
  color: #656565;
  margin-left: 11px;
}

.header__sn {
  margin-top: 19px;
  margin-right: 118px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__sn svg + svg {
  margin-left: 36px;
}

.header__call {
  -ms-flex-item-align: start;
      align-self: flex-start;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 19px;
  margin-right: 107px;
}

.header__call a {
  -ms-flex-item-align: center;
      align-self: center;
  font-family: Gilroy;
  font-weight: bold;
  font-size: 20px;
  line-height: 24px;
  color: #000000;
  margin-left: 16px;
}

.header__bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header .search {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.header .search__input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #EFEFEF;
}

.header .search__icon {
  cursor: pointer;
  margin: auto 16px;
}

.header .search form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header .search form input {
  background: #EFEFEF;
  height: 100%;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 18px;
  color: #000000;
}

.header .search form input::-webkit-input-placeholder {
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 18px;
  color: #000000;
}

.header .search form input::-moz-placeholder {
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 18px;
  color: #000000;
}

.header .search form input:-moz-placeholder {
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 18px;
  color: #000000;
}

.header .search form input:-ms-input-placeholder {
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 18px;
  color: #000000;
}

.header .search form button {
  font-family: Gilroy;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 19px;
  color: #FFFFFF;
  padding: 16px;
  background: #3432EE;
}

.menu__icon {
  width: 48px;
  height: 48px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  position: relative;
}

.menu__icon span {
  width: 33px;
  height: 3px;
  background: #000000;
}

.menu__icon span:before,
.menu__icon span:after {
  content: '';
  width: 33px;
  height: 3px;
  background: #000000;
  position: absolute;
}

.menu__icon span:before {
  top: 6px;
}

.menu__icon span:after {
  bottom: 6px;
}

.menu__text {
  font-family: Gilroy;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
  text-align: center;
}

.navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.navbar__link {
  cursor: pointer;
  font-family: Gilroy;
  font-weight: bold;
  font-size: 20px;
  line-height: 24px;
  color: #000000;
}

.navbar__link + .navbar__link {
  margin-left: 48px;
}

@media (max-width: 1200px) {
  .header__top {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .header__logo {
    margin-right: 21.2px;
  }

  .header__places {
    margin-right: 20.2px;
  }

  .header__sn {
    margin-right: 59px;
  }

  .header__sn svg + svg {
    margin-left: 18px;
  }

  .header__call {
    margin-right: 53px;
  }

  .header__bottom {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .header__navbar {
    margin-top: 20px;
    margin-bottom: 20px;
  }
}

@media (max-width: 1024px) {
  .header__top {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }

  .header__place {
    display: none;
  }

  .header__sn {
    display: none;
  }

  .header__call {
    display: none;
  }

  .header__bottom {
    display: none;
  }

  .menu__text {
    display: none;
  }
}

@media (max-width: 768px) {
  .header__logo {
    margin-top: 0;
  }

  .menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .menu__icon {
    width: 32px;
    height: 32px;
  }

  .menu__icon span {
    width: 22px;
    height: 2px;
  }

  .menu__icon span:before,
  .menu__icon span:after {
    width: 22px;
    height: 2px;
  }
}